<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="d-flex flex-column h-100">
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            <a href="{{ path('home') }}" class="navbar-brand">App</a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarCollapse"
                    aria-controls="navbarCollapse"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggle-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{{ path('home') }}" class="nav-link">Home</a>
                    </li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item">
                            <a href="{{ path('auth.logout') }}" class="nav-link">Log Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{{ path('auth.signup') }}" class="nav-link">Sign Un</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('auth.reset') }}" class="nav-link">Reset</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('auth.login') }}" class="nav-link">Log In</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
<main role="main" class="flex-shrink-0">
    <div class="container">
        {% block breadcrumbs %}{% endblock %}
        {% include '_flashes.html.twig' %}
        {% block body %}{% endblock %}
    </div>
</main>

<footer class="footer mt-auto py-3">
    <div class="container">
        <span>© {{ "now"|date("Y") }} All rights reserved</span>
    </div>
</footer>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
